#messenger {
    flex: 1;
    display: grid;
    grid-template-columns: auto 5fr;
    grid-template-rows: 10fr auto;
    grid-template-areas: "sideBar conversation"
                         "sideBar textInput"
}

#sideBar {
    grid-area: sideBar;
    display: flex;
    flex-direction: column;
} 

#searchResults {
    position: relative;
}

#searchResults .list {
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1000;
}

.selected {
    background: #eee !important;
}

#conversation {
    grid-area: conversation;
    overflow: hidden;
    max-height: 100%;
    padding-bottom: 57.5px;
}

.messages {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.messages::after {
    padding-bottom: 5px;
    content: '';
}

.message {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    max-width: 400px;
    word-wrap: break-word;
}

.redDot {
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    position: absolute;
    left: 12.5px;
    top: 0;
}

#textInput {
    grid-area: textInput;
} 